<body>
    <p>Hello {{ username }},
    <br><br>
    We received a request to reset your password. If you didn't make this request, please ignore this email.<br>
    To reset your password, click the button below:</p>
    
    <a href="{{ reset_url }}"
    style="color: #8a2be2;background-color: #e6d2f9;font-size: 16px;padding: .5em 1em;border-radius: .45em;margin-top: 1em;display: block;width: fit-content;">
        Reset Password
    </a>
    
    <br>
    <p>This link will expire in 24 hours.</p>
    <p>Powered by FastShip</p>
</body>